# --- Core Libraries ---
numpy>=2.1.0
pandas==2.2.3
python-dotenv==1.0.1

# --- Machine Learning & Deep Learning ---
tensorflow==2.20.0
scikit-learn==1.5.2
albumentations==1.4.4

# --- Image Processing ---
opencv-python-headless==4.10.0.84
Pillow==10.4.0

# --- Visualization ---
matplotlib==3.9.2
seaborn==0.13.2

# --- App Deployment ---
streamlit==1.38.0
joblib==1.4.2
