# --- Core environment ---
numpy>=2.1.0
pandas==2.2.3
tqdm==4.66.5
python-dotenv==1.0.1

# --- Machine Learning & Model Export ---
tensorflow==2.20.0
scikit-learn==1.5.2
albumentations==1.4.4
opencv-python-headless==4.10.0.84
Pillow==10.4.0
matplotlib==3.9.2
seaborn==0.13.2
joblib==1.4.2

# --- App / API Deployment ---
streamlit==1.38.0
fastapi==0.115.2
uvicorn[standard]==0.32.0
